/* Estilos dos elementos visuais, definidos para a fase 1*/
#fase-1 {

    .wall1 {
        width: 100vw;
        height: 35vh;
        top: 0;
    }

    .wall2 {
        bottom: 0;
        height: 35vh;
        width: 100vw;
    }

    .wall3 {
        left: 0;
        width: 12vw;
        height: 100vh;
        top: 0;
    }

    .wall4 {
        right: 0;
        width: 12vw;
        height: 100vh;
        top: 0;
    }

    .flower1 {
        left: 20vw;
        top: 5vh;
    }
    
    .flower2 {
        left: 60vw;
        top: 16vh;
    }
    
    .rock1 {
        left: 40vw;
        top: 66vh;
    }
    
    .rock2 {
        left: 68vw;
        top: 78vh;
    }
    
    .mushroom {
        left: 5vw;
        top: 80vh;
    }
    
    .bush {
        left: 90vw;
        top: 30vh;
    }
    
    .deadgrass {
        left: 90vw;
        top: 80vh;
    }

}


/* Estilos dos elementos visuais, definidos para a fase 2*/
#fase-2 {

    .wall1 {
        width: 100vw;
        height: 15vh;
        top: 0;
    }

    .wall2 {
        bottom: 0;
        height: 8vh;
        width: 100vw;
    }

    .wall3 {
        left: 0;
        width: 8vw;
        height: 100vh;
        top: 0;
    }

    .wall4 {
        right: 0;
        width: 12vw;
        height: 100vh;
        top: 0;
    }
    

    .wall5 {
        right: 0;
        width: 87vw;
        height: 83vh;
        top: 0;
    }

    .flower1 {
        left: 23vw;
        top: 5vh;
    }
    
    .flower2 {
        left: 60vw;
        top: 16vh;
    }
    
    .rock1 {
        left: 40vw;
        top: 40vh;
    }
    
    .rock2 {
        left: 68vw;
        top: 70vh;
    }
    
    .mushroom {
        left: 15vw;
        top: 60vh;
    }
    
    .bush {
        left: 90vw;
        top: 30vh;
    }
    
    .deadgrass {
        left: 80vw;
        top: 65vh;
    }

}


/* Estilos dos elementos visuais, definidos para a fase 3*/
#fase-3 {

    .wall1 {
        width: 100vw;
        height: 15vh;
        top: 0;
    }

    .wall2 {
        bottom: 0;
        height: 8vh;
        width: 100vw;
    }

    .wall3 {
        left: 0;
        width: 8vw;
        height: 100vh;
        top: 0;
    }

    .wall4 {
        right: 0;
        width: 12vw;
        height: 100vh;
        top: 0;
    }

    .wall5 {
        right: 49vw;
        width: 40vw;
        height: 86vh;
        top: 0;
    }

    .wall6 {
        left: 54vw;
        width: 32vw;
        height: 80vh;
        bottom: 0;
    }

    .flower1 {
        left: 23vw;
        top: 5vh;
    }
    
    .flower2 {
        left: 60vw;
        top: 23vh;
    }
    
    .rock1 {
        left: 40vw;
        top: 40vh;
    }
    
    .rock2 {
        left: 68vw;
        top: 70vh;
    }
    
    .mushroom {
        left: 15vw;
        top: 60vh;
    }
    
    .bush {
        left: 90vw;
        top: 30vh;
    }
    
    .deadgrass {
        left: 46vw;
        top: 70vh;
    }

}